body{
    background-color: white;
}


.nav{

    height: 80px;
    width: 100%;
    background-color: rgb(36,13,13);
    display: inline-flex;
    align-self: center;
    
}
a{   width: 2px;
    text-decoration: none;
    color: white;
}
div{
    width: 2px;
    align-self: center;
    font-size: x-large;
    margin-left: 200px;
}
i{
    color: aqua;
    margin-top: 20px;
    margin-left:2%;
    font-size: xx-large;
}
h2{
    color: white;
    margin-left: 5%;

}
.s{
    border-radius: 5px;
    margin-left: 120px;
    margin-top: 30px;
  

}
button{
    background-color: #29d9d5;
    color: black;
    margin-left: 200px;
    width: 150px;
    max-height: 50px;
    margin-top: 15px;
    border-radius: 20px;

}
.nav a:hover{
    color: #29d9d5;;
    
}
header{
    display: inline;
}
.head{
    background-color:bisque;
    color: #1a1af8;
    padding-top: 10px;

}
.para{
    background-color:bisque;

}
#i6{
    grid-row: 3/4;

}
#i4{
    
    grid-row:2/3 ;
}
#i1{
 
    grid-row: 1/2;
    
    
}
#i2{
   
    grid-row: 2/3;

}
#i3{
    
    grid-row: 3/4;
}
#i5{
    grid-column: 2/3 ;
}
#images{
    display: grid;
    grid-template-columns: repeat(3,200px);
    width: 1400px;
    height: auto;
    margin: 10px auto;
    padding: 50px;



}
 img:hover{
    color: grey;
}



